@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  background-color: rgb(241, 241, 241);

}

.cardCategories {
  transition: transform 0.3s ease-in-out
}
.cardCategories:hover {
  transform: scale(1.1); /* Hace un pequeño zoom al 110% del tamaño original */
}

.form-container input:-webkit-autofill,
.form-container input:-webkit-autofill:hover, 
.form-container input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #E0DAF9 inset;
}



@layer utilities {
  /* .text-balance {
    text-wrap: balance;
  } */
}
